@import './tailwind.css';


/* Apply some basic styling to the container */
.container {
    padding: 20px;
  }
  
  /* Style for the charts section */
  .charts-section {
    margin-bottom: 40px;
  }
  
  /* Style for the section headings */
  .section-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Style for the Line chart */
  .line-chart {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
  }
  
  /* Style for the map section */
  .map-section {
    position: relative;
  }
  
  /* Style for the Leaflet map container */
  .map-container {
    height: 500px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the map popup */
  .popup-content {
    text-align: center;
  }
  
  .popup-country {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .popup-data {
    font-size: 14px;
  }
  .content-wrap {
    border: 5px solid #41a9ff;
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: auto;
}
nav.sidebar {
    width: 200px;
    background: aliceblue;
}
nav.sidebar li a {
    font-size: 18px;
    display: block;
    padding: 10px 12px;
    font-weight: 500;
    line-height: 20px;
}
.main-content {
    position: relative;
    min-height: 500px;
    padding: 30px 50px;
}
button, [type='button'], [type='reset'], [type='submit'] {
    background: #41a9ff;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin:5px;
    transition: all 0.2s ease-in-out;
}
button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 5px #41a9ff;
}
.main-content {
    min-height: 500px;
    padding: 30px 50px;
    width: calc(100% - 200px);
    text-align: center;
}
.main-content ul {
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    margin-top:30px;
}
.main-content ul li {
    width: calc(50% - 15px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    border: 2px solid #e7e7e7;
    padding: 20px;
}
.view-detail {
    position: absolute;
    width: 100%;
    max-width:300px;
    height: auto;
    top: 50%;
    padding: 40px 20px;
    background: #fff;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 30px #e7e7e7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.view-detail p{
    width: 100%;
}
form input {
    border: 2px solid #e7e7e7;
    padding: 5px 10px;
    outline: none;
}
form input:focus {
    border: 2px solid #41a9ff;
}
h4.no-contact-found {
    max-width: 250px;
    margin: 10px auto;
    border: 5px solid #41a9ff;
    padding: 20px;
}
span.x-icon {
    display: flex;
    background: #41a9ff;
    width: 30px;
    height: 30px;
    margin: 0 auto 5px;
    line-height: 18px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    border-radius: 30px;
}
label {
    margin: 6px;
}
label.radio {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.status-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin: 0 0 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.action-btns{
    width:100%;
}
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .map-container {
      height: 300px;
    }
    .main-content ul li {
        width: 100%;
    }
    nav.sidebar {
        width: 100%;
        background: aliceblue;
    }
    .main-content {
        padding: 20px;
        width: 100%;
    }
    .view-detail {
        top: 100px;
        padding: 40px 20px;
        transform: translate(-50%, 0%);
        box-shadow: 0 0 30px #e7e7e7;
    }
  }
  